<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <app-generic-modal #modal title="Edit User">
        <span modalTrigger class="edit-btn">Edit</span>
        <app-edit-user-form
          *ngIf="contextUser"
          modalContent
          (onClose)="modal.hideModal()"
          [user]="contextUser"
        ></app-edit-user-form>
      </app-generic-modal>
    </li>
    <li nz-menu-item (click)="showDeleteConfirm()">Delete</li>

    @for (role of roleOptions; track role) {
    <li nz-menu-item (click)="onChangeRole(role)">
      Change role to {{ role | titlecase }}
    </li>
    }
  </ul>
</nz-dropdown-menu>
