<nz-table
  #basicTable
  [nzData]="(users$ | async) ?? []"
  [nzShowPagination]="false"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data.id) {
    <tr (contextmenu)="contextMenu($event, userMenu.menu , data)">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.role }}</td>
      <td>
        <a>Action 一 {{ data.name }}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
    }
  </tbody>
</nz-table>

<app-user-actions #userMenu [contextUser]="usersStore.contextUser$ | async"></app-user-actions>
