<nz-table
  #basicTable
  [nzData]="(bookStore.books$ | async) ?? []"
  [nzShowPagination]="false"
>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published Date</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data.id) {
    <tr (contextmenu)="contextMenu($event, bookMenu.menu , data)">
      <td>{{ data.title | titlecase}}</td>
      <td>{{ data.author | titlecase}}</td>
      <td>{{ data.publishedDate | date:'d MMM yyyy' }}</td>
    </tr>
    }
  </tbody>
</nz-table>

<app-book-actions #bookMenu></app-book-actions>
