<form class="user-form" [formGroup]="form" (ngSubmit)="submit()">
  <nz-form-item class="form-item">
    <nz-form-label class="form-label">Name</nz-form-label>
    <nz-form-control class="form-control">
      <input nz-input formControlName="name" placeholder="Name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="form-item">
    <nz-form-label class="form-label">Age</nz-form-label>
    <nz-form-control class="form-control">
      <nz-input-number formControlName="age" [nzMin]="0" class="input-number"></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="form-item">
    <nz-form-label class="form-label">Role</nz-form-label>
    <nz-form-control class="form-control">
      <nz-select formControlName="role" placeholder="Select role" class="role-select">
        <nz-option *ngFor="let r of roles" [nzValue]="r" [nzLabel]="r"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" type="submit" class="submit-btn" [disabled]="form.invalid">
    Submit
  </button>
</form>
