.user-form {
  .form-item {
    margin-bottom: 1rem;
  }

  .form-label {
    font-weight: 500;
    width: 80px; // keeps labels aligned
  }

  .form-control {
    input,
    nz-input-number,
    nz-select {
      width: 100%;
    }
  }

  .submit-btn {
    margin-top: 1rem;
    width: 100%;
  }
}
