<form class="user-form" [formGroup]="form" (ngSubmit)="submit()">
  <nz-form-item class="form-item">
    <nz-form-label class="form-label">Name</nz-form-label>
    <nz-form-control
      class="form-control"
      [nzErrorTip]="getErrorMessage('name')"
    >
      <input nz-input formControlName="name" placeholder="Name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="form-item">
    <nz-form-label class="form-label">Age</nz-form-label>
    <nz-form-control class="form-control" [nzErrorTip]="getErrorMessage('age')">
      <nz-input-number
        formControlName="age"
        [nzMin]="0"
        class="input-number"
      ></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <button
    nz-button
    nzType="primary"
    type="submit"
    class="submit-btn"
    [disabled]="form.invalid"
  >
    Submit
  </button>
</form>
