<form class="book-form" [formGroup]="form" (ngSubmit)="submit()">
  <nz-form-item class="form-item">
    <nz-form-label class="form-label">Title</nz-form-label>
    <nz-form-control
      class="form-control"
      [nzErrorTip]="getErrorMessage('title')"
    >
      <input nz-input formControlName="title" placeholder="Title" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="form-item">
    <nz-form-label class="form-label">Author</nz-form-label>
    <nz-form-control
      class="form-control"
      [nzErrorTip]="getErrorMessage('author')"
    >
      <nz-select nzPlaceHolder="Select The Author" formControlName="author_id">
        @for (user of userStore.users$ | async ; track user.id){<nz-option
          [nzValue]="user.id"
          [nzLabel]="user.name"
        ></nz-option
        >}
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <button
    nz-button
    nzType="primary"
    type="submit"
    class="submit-btn"
    [disabled]="form.invalid"
  >
    Submit
  </button>
</form>
